<!--check in and check out service -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Select to check in or out</h1>
<!-- can i write the two in only one action?-->
<p th:text="${message}"></p>
<form action="/main/checkin" method="post">
    <button type="submit">I come to the library</button>
</form>
<form action="/main/checkout" method="post">
    <button type="submit">I go now</button>
</form>
</body>
</html>
