<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/home.css" th:href="@{/css/home.css}" rel="stylesheet" type="text/css">
    <title>To Do List</title>
</head>

<body>

  <nav>
    <ul>
      <li><a href="/main">Home</a></li>
      <li><a href="/logout">Log out</a> </li>
    </ul>
  </nav>
  <main>
    <section>
      <table class="todolist">
        <thead>
          <tr>
            <th colspan="3">To Do List</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="task: ${tasks}">
            <td th:if="${editId == task.id}">
              <form th:action="@{'/tasks/update_' + ${task.id}}" method="post">
                <input type="hidden" name="_method" value="put" />
                <input type="text" name="content" th:value="${task.content}">
                <button type="submit">Save</button>
              </form>
            </td>

            <td th:unless="${editId == task.id}" th:text= "${task.content}" />
            <td th:unless="${editId == task.id}">
              <form th:action="@{'/tasks/finished_' +${task.id}}" method="post">
                <input type="hidden" name="_method" value="put" />
                <button type="submit">Finished</button>
              </form>
            </td>
            <td th:unless="${editId == task.id}">
              <form th:action="@{'/tasks/edit_' +${task.id}}" method="post">
                <button type="submit">Edit</button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>

      <form action="/tasks" method="post">
        <label>
          Task: <input type="text" name="content">
        </label>
        <button type="submit">Add new task</button>
      </form>
    </section>
  </main>

</body>
</html>